{% extends 'base.html.twig' %}


{% block body %}
	<form method="post">
		{% if error %}
			<div class="alert alert-danger">Votre identifiant ou votre mot passe est incorrect. Veuillez recommencer !</div>
			{# <p>{{ error.message }}</p> #}
		{% endif %}


		{% if app.user %}
			<div class="container text-center pt-3">
				<div class="p-2 pt-3 m-auto connected-message">
					<p>Vous êtes connectés avec l'adresse mail
						{{ app.user.username }}, souhaitez-vous être
						<a href="{{ path('app_logout') }}">
							déconnecté
						</a>?</p>
					<p>Vous serez alors redirigé vers la page d'accueil</p>
				</div>
			</div>
		{% endif %}

		<div class="container">
			<div class="connexion-page">
			<h2 style="font-size:1.2rem">Cet espace est dédié aux membres du refuge. Les utilisateurs inconnus ne pourront ni s'inscrire, ni se connecter sur notre site internet ! </h1>
				<h1 class="h3 mb-3 font-weight-normal">Connectez-vous</h1>
				<label for="inputEmail">Email</label><br>
				<input class="email-login text-center" type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus><br>
				<br>
				<label for="inputPassword">Mot De Passe</label><br>
				<input class="password-login text-center" type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

				<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"><br>

				<div class="w-75 text-end pt-3 bouton-sign-in">
					<button class="btn" type="submit">
						Connexion
					</button>
					{# <a href="{{ path('connect_facebook_start') }}">Facebook</a> #}
				</div>
				 <a href="{{ path('app_forgot_password_request') }}"<p>Vous avez oublié votre mot de passe ?</p></a>
				<br>
				{% if is_granted('ROLE_ADMIN') %}
			<p>Vous n'avez pas encore de compte ? Inscrivez-vous dès maintenant en cliquant <a href="{{ path("app_register") }}" > ici</a> !</p>
			{% endif %}
			</div>
		</div>
	</form>
{% endblock %}
