{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}

	<div class="intro-home text-center">
		<div class="img-route-picture">
			<img class="w-100" src="{{ asset('build/images/chien-route.jpg') }}" alt="">
		</div>
		<div class="title-on-picture">
			<h1>Notre refuge recueille 250 animaux chaques années</h1>
		</div>
		<div>
		<h2>Venez découvrir le refuge</h2>
		<p><span>Les nombreux animaux que nous recueillons sont souvent victimes de maltraitances, d'abandons et certains restent avec nous jusq'au bout..</span><br><span> Serait-ce trop vous demander de verser quelques centimes de temps en temps, pour aider ces petites bêtes ?</span><br><span>Nous avons encore mieux, venez visiter la SPA de Saintes et pourquoi pas, adopter nos petits anges</p>
		</div>
		<div class="row div-three-picture">
			<div class="pt-3 histoire-du-refuge">
				<div class="img-refuge-first col-sm-4">
					<img class="circle-picture-home" src="{{ asset('build/images/chien-malheureux.jpg') }}" alt="">
				</div>
				<div class="img-refuge-first col-sm-4">
					<img class="circle-picture-home" src="{{ asset('build/images/chat4.jpg') }}" alt="">
				</div>
				<div class="img-refuge-first col-sm-4">
					<img class="circle-picture-home" src="{{ asset('build/images/oiseaux.jpg') }}" alt="">
				</div>
			</div>
		</div>
	</div>

	{# <div class="container-fluid">
									<div class="first-div text-center pt-2 pb-4">
										<img class="w-75" src="{{ asset('build/images/recherche-humain.png') }}" alt="">
									</div>
								</div>  #}
{% endblock %}
