{% extends 'base.html.twig' %}

{% block title %}Inscription
{% endblock %}

{% block body %}
	<div class="container">
		<div class="connexion-page">
			<h3 class="text-center">INSCRIPTION</h3>
			{{ form_start(registrationForm) }}

			<div class="p-1 pl-3 label-email-register">{{ form_row(registrationForm.email, { label : 'Votre adresse mail :' }) }}</div><br>
			<div class="p-1 password-register ">{{ form_row(registrationForm.plainPassword, {
            label: 'Mot de passe :'
        }) }}</div><br>
			<div class="p-1">{{ form_row(registrationForm.agreeTerms, { label : 'Vous acceptez les termes et les conditions' }) }}
			</div><br>
						<div class="terms-registration">
				<p>rebfhzfbvyoeivyfzyevfvyezfeyfevfvyèfyvzvfezyvrvyezyvfvzevfevzfvèzvevfezvfvziefvzvfzevfvtzefvevfevyyvfviezfvezvfvzefv</p>
			</div>
			
			<div class="w-75 text-end pt-3 bouton-sign-in">
				<button type="submit" class="btn">S'inscrire</button>
			</div>
			{{ form_end(registrationForm) }}
		</div>
	</div>

{% endblock %}

