{% extends 'base.html.twig' %}

{% block title %}Les animaux du refuge
{% endblock %}

{% block body %}
	<div class="container">
		<div class="text-center w-70">
			<h2 class="">Mes messages</h2>
		</div>
</div>

<pre>
	{{ dump(messages) }}
</pre>
	<div class="container">
		<div class="row list-message-admin d-flex p-2 text-center" style="text-align:webkit-center">
			{% for message in messages %}
				<div class="col-sm-6 pb-5">
					<div class="card w-75 for-margin-card">
						<div class="card-body">
						<img src="" class="card-img-top" alt="...">
							<h5 class="card-title">{{ message.firstname }}</h5>
							<p class="card-text">Message du destinataire :
								{{ message.description }}
								Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, beatae. Aliquam minus dolorem illo beatae! Ipsa in esse placeat cupiditate cumque officia aspernatur ea doloribus architecto? Minima nihil expedita omnis.</p>
						</div>
						<ul class="list-group list-group-flush">
							<li class="list-group-item">Nom du destinataire :
								{{ message.firstname }}
								{{ message.lastname }}</li>
							<li class="list-group-item">Adresse du destinataire :
								{{ message.email }}</li>
						</ul>
						<a href="{{ path('message_delete', {'id': message.id}) }}"><button>supprimer</button></a>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
