{% extends 'base.html.twig' %}

{% block title %}Hello MessageController!{% endblock %}

{% block body %}
	{# {{ form_start(form) }}
	{{ form_label(form.firstname) }}
	{{ form_widget(form.firstname) }}
	{{ form_label(form.lastname) }}
	{{ form_widget(form.lastname) }}
	{{ form_label(form.email) }}
	{{ form_widget(form.email) }}
	{{ form_label(form.description) }}
	{{ form_widget(form.description) }}
	<button type="submit">Enregistrer</button>
	{{ form_end(form) }} #}
    <pre>
        {{ dump() }}
    </pre>
{% endblock %}
