{# <nav class="navbar navbar-expand-lg navbar-light">
	<div class="container-fluid">
		<div class="logo-site-web">
			<a href="{{ path("accueil") }}">
				<img class="logo-spa-saintes" src="{{ asset('build/images/logo_small.png') }}" alt=""></a>
		</div>
		<div class="wrapper">
			<a type="button" class="button" class="dropdown-item" href="{{ path("animaux_index") }}">Animaux</a>
			<a type="button" class="button" href="{{ path("benevole_index") }}">Nos Albums</a>
			<a type="button" class="button" href="{{ path("donate") }}">Vos Dons</a>

			{% if is_granted('ROLE_ADMIN') %}
				<div class="dropdown-nav">
					<button class="dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
						Compte
					</button>
					<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
						<li>
							<a class="dropdown-item" href="{{ path("animaux_index") }}">Animaux</a>
						</li>
						<li>
							<a class="dropdown-item" href="{{ path("message_index") }}">Messages</a>
						</li>
						<li>
							<a class="dropdown-item" href="{{ path("app_logout") }}">Déconnexion</a>
						</li>
					</ul>
				</div>
			{% endif %}
		</div>
	</div>
</nav> #}


{% if is_granted('ROLE_ADMIN') %}

	<nav class="navbar navbar-light">
		<div class="container-fluid">
			<div class="logo-site-web">
				<a href="{{ path("accueil") }}">
					<img class="logo-spa-saintes" src="{{ asset('build/images/logo_small.png') }}" alt=""></a>
			</div>
			<button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
				<div class="offcanvas-header">
					<h5 class="offcanvas-title" id="offcanvasNavbarLabel">Que recherchez-vous ?</h5>

					<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
				</div>

				<div class="offcanvas-body">
					<ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
						<li class="nav-item">
							<a class="nav-link" href="{{ path("accueil") }}">Page d'accueil</a>
							<div class="trait-navbar"></div>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" id="offcanvasNavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
								Les animaux du refuge
							</a>
							<ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown">
								<li>
									<a class="dropdown-item" href="{{ path("animaux_index") }}">Tous les animaux</a>
								</li>
								<li>
									<a class="dropdown-item" href="{{ path("dog") }}">Le parc des chiens</a>
								</li>
								<li>
									<a class="dropdown-item" href="{{ path("cat") }}">Visiter la Chatterie</a>
								</li>
							</ul>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ path("benevole_index") }}">Nos albums</a>
							<div class="trait-navbar"></div>
						</li>

						<li class="nav-item">
							<a class="nav-link" href="{{ path("donate") }}">Vos dons</a>
							<div class="trait-navbar"></div>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ path("knowus") }}">Contact</a>
							<div class="trait-navbar"></div>
						</li>

						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" id="offcanvasNavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
								Mon compte
							</a>

							<ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown">
								<li>
									<a class="dropdown-item" href="{{ path("message_index") }}">Mes messages</a>
								</li>
								<li>
									<a class="dropdown-item" href="{{ path("adopter") }}">Courriel des adoptants</a>
								</li>
								<li>
									<a class="dropdown-item" href="{{ path("app_logout") }}">Déconnexion</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</nav>
{% else %}
	<nav class="navbar navbar-expand-lg navbar-light">
		<div class="container-fluid">
			<div class="logo-site-web">
				<a href="{{ path("accueil") }}">
					<img class="logo-spa-saintes" src="{{ asset('build/images/logo_small.png') }}" alt=""></a>
			</div>
			<div class="wrapper">
				<a type="button" class="button" class="dropdown-item" href="{{ path("animaux_index") }}">Animaux</a>
				<a type="button" class="button" href="{{ path("benevole_index") }}">Nos Albums</a>
				<a type="button" class="button" href="{{ path("donate") }}">Vos Dons</a>
			</div>
		</div>
	</nav>
{% endif %}

 <script>
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
  if (document.body.scrollTop == 0 || document.documentElement.scrollTop == 0) {
    document.getElementsByClassName("navbar").style.top = "0";
  } else {
    document.getElementsByClassName("navbar").style.top = "0";
  }
}
</script> 
