{% extends 'base.html.twig' %}

{% block title %}Benevole
{% endblock %}

{% block body %}
	{% for benevole in benevoles %}


		<h3>Autour de nos employés,
		NOS  BÉNÉVOLES ({{ benevole.captureAt| date('Y') }}) 
		APPORTENT AUX ANIMAUX DU REFUGE 
		TOUTE LEUR TENDRESSE
		</h3>
	{% endfor %}

	<div class="container">
		<div class="row" id="benevole-show">
			{% for benevole in benevoles %}
				<div class="card col-sm-3">
					<div class="card-img-top">
						<img src="{{ vich_uploader_asset(benevole) }}" class="card-img-top" alt="...">
					</div>
					<div class="card-body">
						<h5 class="card-title">{{ benevole.name }}</h5>
						<p class="card-text">{{ benevole.description }}</p>
					</div>
				</div>
			{% endfor %}

			{# <div class="container">
				<div class="rowd d-flex">
					{% for benevole in benevoles %}
						<div class="img-name-benevole col-sm-3">
							<div class="img-benevole">
								<img src="{{ vich_uploader_asset(benevole) }}" class="card-img-top" alt="...">
							</div>
							<div class="name-benevole">
								<p>{{ benevole.name }},
									{{ benevole.description }}
								</p>
							</div>
						</div>
					{% endfor %}
				</div>
			</div> #}


		</div>

	</div>


	<a href="{{ path('benevole_index') }}">back to list</a>


{% endblock %}
