{% extends 'base.html.twig' %}

{% block title %}Benevole
{% endblock %}

{% block body %}
	<div class="container">
		<div class="page-benevole text-center">
			<h2>Découvrez les bénévoles du refuge
			</h2>
		</div>
		<div class="d-flex">
			<div class="row" style="justify-content: center">
				{% for benevole in benevoles %}
					<div class="card-benevole-show col-sm-3 m-4 p-0">
						<img src="{{ vich_uploader_asset(benevole) }}" class="card-img-top" alt="benevole-img">
						<div class="card-body mt-3">
							<h5 class="card-title">{{ benevole.name }}</h5>
							<p class="card-text">{{ benevole.description }}</p>
							{% if is_granted('ROLE_ADMIN') %}
								<div class="bouton-sign-in">
									<a style="text-decoration: none" href="{{ path('benevole_edit', {'id': benevole.id }) }}">
										<button class="btn">Modifier</button>
									</a>
								</div>
							{% endif %}
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
<div class="bouton-sign-in">
	<a href="{{ path('benevole_index') }}"><button class="btn">Retour aux albums</button></a>
</div>
	</div>

{% endblock %}
